@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Biáº¿n theme */
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
